body{
  background: lightsalmon;
  text-align: center;
}
h1{
  color:red;
  font-size: 50px;
  font-style: oblique;
}
.parent{
  background: #1ABC9C  ;
  display:flex;
  justify-content:center;
  margin:5%;
  padding: 3%;
  border:2px solid #DDA0DD;
  border-radius:2%;
}
.child{
   background: #808080;
   width:30%;
   padding:3%;
   margin:2%;
   text-align: center;
   border:2px solid #DDA0DD;
   border-radius: 2%
}
img{
  width:100%;
}
@media screen and (max-width:767px){
.parent{
  flex-wrap:wrap;
}
  .child{
    width:100%;
  }
}
  @media screen and (min-width:768px) and (max-width:1023px){
  .parent{
    flex-wrap:wrap;
  }
    .child{
      width:48%;
}
}
@media screen and (min-width:1024px) and (max-width:1366px){
.parent{
  flex-wrap: wrap;
}
  .child{
    width:35%;
}
}
